how to declare dictionary
how to access keys and values
how to use loops in dictionary
indexing in dictionary

In [5]:
student = {
    "name" : "john",
    "age" : 25,
    "course" : "python",
    "marks" : 78
}
print(student)

{'name': 'john', 'age': 25, 'course': 'python', 'marks': 78}

In [9]:
info = dict(name = "john", age = 25, course = "python", marks = 78)
print(info)

{'name': 'john', 'age': 25, 'course': 'python', 'marks': 78}

In [8]:
info = dict(name = input("Enter your name"), age = int(input("Enter your age")),
             course = input("enter your course"), Marks = int(input("Enter the marks")))
print(info)

{'name': 'sahil', 'age': 21, 'course': 'python', 'Marks': 91}

In [11]:
temp = {
    'lucknow' : [25,32,45],
    'kanpur' : [26,33,46],
    'delhi' : [27,34,47],
}
print(temp)

{'lucknow': [25, 32, 45], 'kanpur': [26, 33, 46], 'delhi': [27, 34, 47]}

#1st method to access values through keys

In [12]:
print(student['name'])
print(info['age'])

john
25

#2nd method to acess value through keys

In [13]:
print(student.get('course'))

python

#3 to add

In [ ]:
pr

In [16]:
for k,v in student.items():
    print(f'{k} : {v}')

name : john
age : 25
course : python
marks : 78

In [18]:
a = 10
b = 35
sum = a + b
print("sum of",a,"and",b,"is",sum)
print(f"sum of {a} and {b} is {sum}")

sum of 10 and 35 is 45
sum of 10 and 35 is 45

In [20]:
company = {
    'emp001':{
        'name' : 'sahil',
        'age' : 25,
        'dept' : 'it',
        'salary' : 25000
    },
    'emp002' : {
        'name' : 'rohit',
        'age' : 26,
        'dept' : 'HR',
        'salary' : 26000
    },
    'emp003' : {
        'name' : 'raj',
        'age' : 27,
        'dept' : 'finance',
        'salary' : 27000
    }
}
print(company)

{'emp001': {'name': 'sahil', 'age': 25, 'dept': 'it', 'salary': 25000}, 'emp002': {'name': 'rohit', 'age': 26, 'dept': 'HR', 'salary': 26000}, 'emp003': {'name': 'raj', 'age': 27, 'dept': 'finance', 'salary': 27000}}

In [21]:
from pprint import pprint

In [22]:
pprint(company)

{'emp001': {'age': 25, 'dept': 'it', 'name': 'sahil', 'salary': 25000},
 'emp002': {'age': 26, 'dept': 'HR', 'name': 'rohit', 'salary': 26000},
 'emp003': {'age': 27, 'dept': 'finance', 'name': 'raj', 'salary': 27000}}

In [24]:
print(company['emp002']['age'])

26

In [25]:
print(temp['lucknow'][1])

32

In [2]:
print(sum(temp['lucknow'])/len(temp['lucknow']))

NameError: name 'temp' is not defined